* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

h1 {
   font-size: 50px;
    width: 230px;
    position: relative;
    margin: 20px auto;
    z-index: 1;
}

h2 {
 font-size: 50px;
    text-align: center;
    width: 327px;
    position: relative;
    margin: 0 auto 20px auto;
    z-index: 1;
}

p {
    font-size: 25px;
    width: 623px;
    position: relative;
    margin: 0 auto 20px auto;
    text-align: center;
    z-index: 1;
}

span {
    color: #00ff00;
}

input {
   background: #b4aeae;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    width: 117px;
    z-index: 1;
}

button {
 position: relative;
    left: 190px;
    top: -16px;
    width: 100px;
    border: none;
    border-radius: 5px;
    z-index: 1;
    background: #b4aeae;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 0px #b4aeae;
}

.imagen {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
}

.painel {
  width: 350px;
    height: 230px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background: #404040;
    border: none;
    border-radius: 10px;
}

.p2 {
    /* acertou ou errou*/
 position: relative;
    margin: 15px auto 15px auto;
    top: 0;
    left: 0;
    font-size: 20px;
    width: 270px;
}

.p3 {
    /* tentativas */
   position: relative;
    margin: 20px auto 0 auto;
    top: 0;
    left: 0;
    font-size: 20px;
    width: 180px;
}

.botao-1 {
    position: relative;
    margin: 0 auto 0 auto;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: #fcff00;
    box-shadow: 0px 0px 20px 0px #fcff00;
    z-index: 1;
    display: none;
}

.botao-1:hover {
    background: #a1a800;
}

.botao-1:active {
    background: #445100;
}

.container {
    width: 100%;
    height: 100%;
}

.point {
    position: absolute;
    /* Para poder mover os pontos livremente */
    bottom: 0px;
    /* Começar na parte de baixo */
    width: 10px;
    /* Largura do ponto */
    height: 10px;
    /* Altura do ponto */
    background-color: #00ff00;
    /* Cor do ponto */
    border-radius: 50%;
    /* Para deixar o ponto redondo */
    animation: rise 3s infinite;
    /* Aplicando a animação */
    z-index: -1;
    pointer-events: none;
}

/* Animação de subida dos pontos */
@keyframes rise {
    from {
        transform: translateY(0);
        /* Começar na posição original */
    }

    to {
        transform: translateY(-160vh);
        /* Mover para cima da tela */
    }
}

/* Criar um efeito de variação na posição inicial dos pontos */
.point:nth-child(1) {
    left: 5%;
    animation-delay: 0.1s;
}

.point:nth-child(2) {
    left: 20%;
    animation-delay: 0.5s;
}

.point:nth-child(3) {
    left: 35%;
    animation-delay: 1s;
}

.point:nth-child(4) {
    left: 50%;
    animation-delay: 1.5s;
}

.point:nth-child(5) {
    left: 65%;
    animation-delay: 2s;
}

.point:nth-child(6) {
    left: 80%;
    animation-delay: 2.5s;
}

.point:nth-child(7) {
    left: 95%;
    animation-delay: 3s;
}

.point:nth-child(8) {
    left: 10%;
    animation-delay: 3.2s;
}

.point:nth-child(9) {
    left: 25%;
    animation-delay: 4s;
}

.point:nth-child(10) {
    left: 40%;
    animation-delay: 4.7s;
}

.point:nth-child(11) {
    left: 5%;
    animation-delay: 5s;
}

.point:nth-child(12) {
    left: 20%;
    animation-delay: 5.5s;
}

.point:nth-child(13) {
    left: 35%;
    animation-delay: 6s;
}

.point:nth-child(14) {
    left: 50%;
    animation-delay: 6.5s;
}

.point:nth-child(15) {
    left: 65%;
    animation-delay: 7s;
}

.point:nth-child(16) {
    left: 80%;
    animation-delay: 7.5s;
}

.point:nth-child(17) {
    left: 95%;
    animation-delay: 8s;
}

.point:nth-child(18) {
    left: 10%;
    animation-delay: 8.5s;
}

.point:nth-child(19) {
    left: 25%;
    animation-delay: 9s;
}

.point:nth-child(20) {
    left: 40%;
    animation-delay: 9.5s;
}

@media screen and (max-width: 638px) {
   
    p {
        width: auto;
    }
    
}

@media screen and (max-width: 500px) {

    body {
        height: 110vh;
    }
    
}

@media screen and (max-width: 365px) {
    
.painel {
    width: auto;
}

}

@media screen and (max-width: 342px) {
   
    h2 {
        width: auto;
    }
    
}