* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

h1 {
    font-size: 50px;
    width: 260px;
    position: relative;
    margin: 20px auto;
    z-index: 1;
}

h2 {
    font-size: 50px;
    text-align: center;
    width: 327px;
    position: relative;
    margin: 0 auto 20px;
    z-index: 1;
}

p {
    font-size: 25px;
    width: 486px;
    position: relative;
    margin: 0 auto 20px;
    text-align: center;
    z-index: 1;
}

span {
    color: #fcff00;
}

input {
    background: #b4aeae;
    border: none;
    border-radius: 5px;
    position: relative;
    width: 117px;
    z-index: 1;
}

button {
   position: relative;
    left: 210px;
    top: -16px;
    width: 100px;
    border: none;
    border-radius: 5px;
    z-index: 1;
    background: #b4aeae;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 0px #b4aeae;
}

.imagen {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
}

.painel {
  width: 350px;
    height: 240px;
    position: relative;
    padding: 20px;
    margin: 0 auto;
    background: #404040;
    border: none;
    border-radius: 10px;
}

.p2 {
    /* acertou ou errou*/
   font-size: 20px;
    width: 310px;
    position: relative;
    margin: 0 auto 20px;
    left: 0;
}

.p3 {
    /* tentativas */
    font-size: 20px;
    width: 220px;
    position: relative;
    margin: 20px auto;
    top: 0;
    left: 0;
}

.botao-2 {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    cursor: pointer;
    background: #ff0000;
    box-shadow: 0px 0px 20px 0px #ff0000;
    z-index: 1;
    display: none;
}

.botao-2:hover {
    background: #950000;
}

.botao-2:active {
    background: #4f0000;
}

@media screen and (max-width: 1024px) {
   
   body {
   height: 105vh;
   }
    
}

@media screen and (max-width: 501px) {
   
    p {
        width: auto;
    }
    
}

@media screen and (max-width: 500px) {
   
    body {
    height: 110vh;
    }

}

@media screen and (max-width: 365px) {
   
    h2 {
        width: auto;
    }
    
}