* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #ffffff;
}

.caixa-texto {
    margin: 16px;
}

h1 {
    font-size: 50px;
    position: relative;
    margin: 20px auto;
    width: 442px;
    text-align: center;
    z-index: 1;
}

p {
    position: relative;
    margin: 0 auto 20px auto;
    font-size: 25px;
    width: 800px;
    text-align: center;
    z-index: 1;
}

h2 {
    font-size: 30px;
    text-align: center;
    position: relative;
    margin: 0 auto 20px auto;
    width: auto;
    z-index: 1;
}

button {
    position: relative;
    margin: 20px auto 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.botao1 {
    width: 150px;
    height: 100px;
    background: #00ff00;
    box-shadow: 0px 0px 20px 3px #00ff00;
    z-index: 1;
}

.botao1:hover {
    background-color: #075305;
}

.botao1:active {
    background: #0b1f08;
}

.botao2 {
    width: 150px;
    height: 100px;
    background: #fcff00;
    box-shadow: 0px 0px 20px 3px #fcff00;
    z-index: 1;
}

.botao2:hover {
    background-color: #768000;
}

.botao2:active {
    background: #445100;
}

.botao3 {
    width: 150px;
    height: 100px;
    background: #ff0000;
    box-shadow: 0px 0px 20px 3px #ff0000;
    z-index: 1;
}

.botao3:hover {
    background-color: #950000;
}

.botao3:active {
    background: #4f0000;
}

.botao4 {
    margin-bottom: 20px;
    width: 150px;
    height: 100px;
    background: #771e75;
    box-shadow: 0px 0px 20px 3px #771e75;
    z-index: 1;
}

.botao4:hover {
    background-color: #450f3d;
}

.botao4:active {
    background: #1a0c1a;
}

.img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
}


@media screen and (max-width: 1024px) {

    body {
        height: 118vh;
    }

}

@media screen and (max-width: 900px) {

    body {
        height: 120vh;
    }

}


@media screen and (max-width: 815px) {

    p {
        width: auto;
    }

    body {
        height: 123vh;
    }


}

@media screen and (max-width: 550px) {

    body {
        height: 136vh;
    }

}

@media screen and (max-width: 457px) {

    h1 {
        width: auto;
    }

    body {
        height: 138vh;
    }

}

@media screen and (max-width: 400px) {

    body {
        height: 140vh;
    }

}

@media screen and (max-width: 391px) {

    h2 {
        width: auto;
        text-align: center;
    }

}

@media screen and (max-width: 380px) {

    body {
        height: 160vh;
    }

}

@media screen and (max-width: 370px) {

    body {
        height: 152vh;
    }

}