* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

h1 {
    font-size: 50px;
    width: 310px;
    position: relative;
    margin: 20px auto;
    z-index: 1;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin: 0 auto 20px;
    width: 327px;
    position: relative;
    z-index: 1;
}

p {
    font-size: 25px;
    width: 500px;
    position: relative;
    margin: 0 auto 20px;
    text-align: center;
    z-index: 1;
}

button {
    position: relative;
    left: 210px;
    top: -16px;
    width: 100px;
    border: none;
    border-radius: 5px;
    z-index: 1;
    background: #b4aeae;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #b4aeae;
}


span {
    color: #771e75;
}

input {
    background: #b4aeae;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 117px;
}

.imagen {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
}

.painel {
    width: 350px;
    height: 230px;
    position: relative;
    padding: 20px;
    margin: 0 auto;
    background: #404040;
    border: none;
    border-radius: 10px;
}

.botao-4 {

    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    cursor: pointer;
    background: white;
    box-shadow: 0px 0px 20px 0px white;
    z-index: 1;
    display: none;
}

.botao-4:hover {
    background: #adaaad;
}

.botao-4:active {
    background: #5a585a;
}

.p2 {
    /* acertou ou errou*/
    font-size: 20px;
    width: 290px;
    position: relative;
    margin: 0 auto 20px;
    top: 0;
    left: 0;
}

.p3 {
    /* tentativas */
    font-size: 20px;
    width: 220px;
    position: relative;
    margin: 20px auto;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    
    body {
      height: 104vh;
    }
    
}

@media screen and (max-width: 515px) {
    
    p {
        width: auto;
    }
    
}

@media screen and (max-width: 500px) {
    
    body {
       height: 110vh;
    }
    
}

@media screen and (max-width: 365px) {
    
    h2 {
        width: auto;
    }
    
.painel {
    width: auto;
}

}

@media  screen and (max-width: 345px) {
    
button {
    left: 190px;

}

}