* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

h1 {
    font-size: 50px;
    text-align: center;
    width: auto;
    position: relative;
    margin: 20px auto;
    z-index: 1;
}

h2 {
    font-size: 50px;
    text-align: center;
    width: auto;
    position: relative;
    margin: 0 auto 20px auto;
    z-index: 1;
}

p {
    font-size: 25px;
    width: 623px;
    position: relative;
    margin: 0 auto 20px auto;
    text-align: center;
    z-index: 1;
}

span {
    color: #00ff00;
}

input {
    background: #b4aeae;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    width: 117px;
    z-index: 1;
}

button {
    position: relative;
    left: 190px;
    top: -16px;
    width: 100px;
    border: none;
    border-radius: 5px;
    z-index: 1;
    background: #b4aeae;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 0px #b4aeae;
}

.imagen {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
}

.painel {
    width: 350px;
    height: 230px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background: #404040;
    border: none;
    border-radius: 10px;
}

.p2 {
    /* acertou ou errou*/
    position: relative;
    margin: 15px auto 15px auto;
    top: 0;
    left: 0;
    font-size: 20px;
    width: 270px;
}

.p3 {
    /* tentativas */
    position: relative;
    margin: 20px auto 0 auto;
    top: 0;
    left: 0;
    font-size: 20px;
    width: 180px;
}

.botao-1 {
    position: relative;
    margin: 0 auto 0 auto;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: #fcff00;
    box-shadow: 0px 0px 20px 0px #fcff00;
    z-index: 1;
    display: none;
}

.botao-1:hover {
    background: #a1a800;
}

.botao-1:active {
    background: #445100;
}

@media screen and (max-width: 638px) {
    p {
        width: auto;
    }
}

@media screen and (max-width: 500px) {
    body {
        height: 110vh;
    }
}

@media screen and (max-width: 365px) {
    .painel {
        width: auto;
    }
}